.alt-header {
  display: flex;
  align-items: center;
  padding: 25px;
  padding: 50px var(--horizontal-space);
  margin-bottom: 15px;
}

.alt-hetter__title {
  font-size: 24px;
  font-weight: 600;
}
.alt-heather__column {
  width: 33%;
}
.alt-heather__column:first-child {
  margin-right: auto;
}
.alt-heather__column:nth-child(2) {
  text-align: center;
}
.alt-heather__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-heather__column span:last-child {
  margin-left: 20px;
}
