.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding: 50px var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}

@keyframes ratateCog {
  from {
    transform: 0;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header .fa-cog:hover {
  animation: ratateCog 1s linear infinite;
}
